<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name }}" class="img-responsive" width="200px" height="200px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" style="display: flex;flex-direction: row;">

      <a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a>
      <a (click)="onEditToShoppingList()" style="cursor: pointer;">Edit Recipe</a>
      <a (click)="onDeleteToShoppingList()" style="cursor: pointer;">Delete Recipe</a>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
