<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
    *ngIf="selectedRecipe;else pleaseSelect"
    [recipe]="selectedRecipe"
    ></app-recipe-detail>

    <ng-template #pleaseSelect>
      <p style="color: red;font-style: italic;font-size: 16px">Please select a recipes !</p>
    </ng-template>
    
  </div>
</div>
